*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.document-box{
    height: calc(100vh - 65px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.is-active-box{
    display: flex;
}
.notify-modification{
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translateX(250%);
    transition: transform .4s ease-in-out;
    z-index: 50;
}
.notification-is-active{
    transform: translateX(0);
}
#mainModal > .modal-card{
    height: 75vh;
    width: 55vw;
}
#mainModal > .modal-card > .modal-card-body{
    display: flex;
    flex-direction: column;
    padding-top: 20px; 
}
#mainModal > .modal-card > .modal-card-body > * {
    margin: 15px 0;
}
#utils > *{
    margin: 20px 0;
}